*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #cfe2f3,#eaf3bb);
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 20px;
}
.container .title{
    font-size:40px;
    font-weight: 1000;
    position: relative;
}
.container .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    margin: 12px 0px 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
}
.user-details .input-box .details{
    display: block;
    font-weight: 1000;
    margin-bottom: 5px;
}
.href{
    height: 45px;
    margin: 45px,0;
    height: 49%;
    width: 49%;
    font-weight: 1000;
    background-color: #9b59b6;
}
form .button{
    height: 60px;
    margin: 45px, 0;
}
form .button input{
    height: 50%;
    width: 100%;
    font-weight: 1000;
    background-color: #9b59b6;
    cursor: pointer;
}
a{
    text-decoration: none;
}
div.forgot-btn{
    text-align: right;
}
div.forgot-btn button{
    border: none;
    background-color: transparent;
    font-style: bold;
    font-weight: 1450;
    cursor: pointer;
}
#checkbox{
    cursor: pointer;
}